__pycache__/
*.pyc
*.pyo

.vscode/
.idea/

.env
.env.*

datasets/airline_2m.csv

data-warehouse/warehouse.duckdb
data-warehouse/warehouse.duckdb.wal

datasets/airline_2m.csv

*.parquet

Thumbs.db
.DS_Store
